---
layout: default
---




<div class="content">

  <!-- {% include pagination-newer.html %} -->
<article class="page-body">
  <h2 class="post-title" id="top">
  </h2>
  {{ content }}

</article>   <!-- this is necessary because of the selector css for page-body -->

  {% assign pages_list = site.pages|sort:"sidebar_sort_order" %}

  {% for page in pages_list %}
  {% if page.title != null %}
    {% if page.sidebar_link %}
    <article class="page-body">

    <h2 class="post-title" id="{{ page.title | remove:" " }}">
      <!-- <a href="{{ page.url | relative_url }}" > -->
        {{ page.title }}

    </h2>
    {% include post-meta.html post=post %}

    {{ page.content | markdownify}}
    <!-- <include src="{{ page.content }}"></include> -->
<!--
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ post.url | relative_url }}">More &hellip;</a>
      {% endif %}
    {% endif %} -->
  </article>
  {% endif %}
{% endif %}
  {% endfor %}

  <!-- {% include pagination-older.html %} -->
</div>
